.donut-main {
    display: flex;
    justify-content: center;

    .donut-style {
        min-width: 370px;
        min-height: 370px;
    }
}

.informationHolder {
    width: 430px;
    padding-left: 35px;
}

.main-information {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.information-container {
    display: flex;
    width: 48%;
    margin: 15px 0px;
}

.info-digit {
    text-align: left;
    margin-left: 20px;
    font-size: 0.9rem;

    :first-child {
        font-weight: 600;
        padding: 3px;
    }

    div {
        padding: 3px;
    }
}

.info-heading {
    display: flex;
    align-items: center;
}

/* Add styles for vertical alignment of legend items */
.chartjs-legend {
    display: flex;
    flex-direction: column; // Align legend items vertically
    align-items: flex-start;
}

.chartjs-legend li {
    list-style-type: none;
    margin-bottom: 8px; // Add space between legend items
    display: flex;
    align-items: center;
}

.chartjs-legend span {
    display: inline-block;
    margin-left: 8px;
}

.titleHolder {
    text-align: center;
}
