body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.common {
  height: 100vh;
  width: 100%;
  background-color: #f2f4f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: relative;
  overflow: auto;
}

.common-main {
  margin-top: 8%;
  display: flex;
  align-items: end;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 80%;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.common-sub{
  width: 60%;
  display: inline;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: end;
}

.right-container{
  display: flex;
    justify-content: space-around;
}

.dropdown-button {
  background-color: #222e50;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  min-width: 250px;
  text-align: left;
}

.dropdown-button:after {
  content: '▼';
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 200px;
  border: 1px solid #ccc;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
}

.dropdown-content div {
  display: flex;
  align-items: center;
  // padding: 10px;
  input{position: absolute;margin-left: 10px;}
  label{
    padding: 10px;
    margin-left: 25px;
    font-size: 14px;
  }
}

.dropdown-content input {
  margin-right: 10px;
}

.dropdown-content label {
  flex-grow: 1;
}

.dropdown-content div:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
}

.filter-summary {
  display: flex;
  align-items: center;
  margin-left: 20px;
  min-width: 206px;
  flex-wrap: wrap;
  gap: 5px;
}

.filter-summary div {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.filter-summary div:hover {
  background-color: #d0d0d0;
}

.datepicker-main {
  display: flex;
  align-items: end;
  gap: 20px;
  margin-left: 20px;
}

.datepicker-side {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date-input {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Noto Sans, sans-serif;
  width: 150px;
}

.btn-style {
  padding: 12px 20px;
  background-color: #222e50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  margin: auto;
  // margin-top: 10px;
  // transition: background-color 0.3s;
}

.btn-style:hover {
  background-color: #222e50;
}
.alt-style{
  background-color: dimgrey;
  opacity: 0.7;
}
.alt-style:hover{
  background-color: dimgrey;
  cursor: auto;
}