.failed-cards {
  height: 20%;
  border-radius: 1px;
}

.table-main {
  // display: flex;
  justify-content: space-around;
  padding: 4% 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.data-table {
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%;
  margin: auto;
}
.table-style .td{
  min-width: 100% !important;
}

.data-table th, .data-table td {
  padding: 20px;
  text-align: left;
  font-size: 14px;
}

.data-table th {
  background-color: #f2f4f8;
  font-weight: bold;
  font-size: 15px;
}

.data-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.data-table tr {
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.data-table tr:hover {
  background-color: #f1f1f1;
}

// .data-table .row.expanded {
//   background-color: #e6f7ff;
// }

// .card-widget {
//   padding: 15px;
//   background-color: #f9f9f9;
//   border: 1px solid #ddd;
//   margin-top: 10px;
// }

// .items-detail {
//   padding: 10px;
//   background-color: #fff;
//   border: 1px solid #ddd;
// }

// .details .text-style {
//   margin-bottom: 10px;
// }

// .details h4 {
//   margin: 0 0 5px;
// }

// .details textarea {
//   width: 100%;
//   padding: 8px;
//   border: 1px solid #ddd;
//   border-radius: 4px;
// }

// .btn-style {
//   padding: 8px 16px;
//   background-color: #4CAF50;
//   color: white;
//   border: none;
//   border-radius: 4px;
//   cursor: pointer;
// }

// .btn-style:hover {
//   background-color: #45a049;
// }
.data-table tr:hover {
  background-color: #e0e0e0; /* Change the color as needed */
}

.data-table input[type="checkbox"] {
  cursor: pointer;
  width: 30px;
  height: 20px;
  // position: absolute;
}

